
/* Flexbox layout to push footer to the bottom */
html, body {
    height: 100%;
    margin: 0;
}
.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

/* Footer styling */
.footer {
    margin-top: 200px;
}

