/*!
 * Theme toggle css for day and night mode - using https://youtu.be/Zb2QA71GLEQ?si=6nrFUeU1RCO6ze3z
 */

/* Disable transitions initially */
.no-transition * {
    transition: none !important;
}


.daynight-checkbox{
    opacity: 0;
    position: absolute;
    display: none !important;
}

.daynight-checkbox-label{
    background-color: #ada7ff;
    width: 48px;
    height: 24px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s linear;
}


.fa-moon{ 
    color: white;
    font-size: 14px; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
}

.fa-sun{ 
    color: rgb(255, 255, 132); 
    font-size: 14px; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
}

.daynight-checkbox-label .daynight-ball{
    background-color: aqua;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    
}

.daynight-checkbox:checked + .daynight-checkbox-label .daynight-ball{
    background-color: rgb(16, 21, 21);
    transform: translateX(22px);
}

.daynight-checkbox:checked + .daynight-checkbox-label { 
    transition: background-color 0.2s linear;
    background-color: #34324f;
}

#daynight-checkbox{ display: none; }
