<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - webapp-race-standings</title>
        {% else %}
        <title>{{ ('webapp-race-standings') }}</title>
        {% endif %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    </head>

    <body>
    <div>


        <div>
            <br>
            <a href="{{ url_for('my_index') }}">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('my_about') }}">About</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
  
  
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                2024 Season
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for event in events %}
                    <li><a class="dropdown-item" href="{{ url_for('event', year=event.event_date.strftime('%Y'), event_id=event.id)  }}"> {{ event.event_date.strftime('%b') }}.  {{ event.event_date.strftime('%d') }} Event</a></li>
                {% endfor %}     
            </ul>


        </div>

        <p> 

        </p>


        <hr>
        {% block content %}{% endblock %}


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>