{% extends "base.html" %}

{% block content %}

    <h2> Driver: {{ driver.driver_name}} </h2>

    <p>
        <h4>Events:</h4>
        <ul>
            {% for driver_event in driver.driver_events %}
            <li><a href="{{ url_for('event', year=driver_event.event.event_date.strftime('%Y'), event_id=driver_event.event.id) }}">{{ driver_event.event.event_name }}</a> - {{ driver_event.car}} - {{ driver_event.car_class}}- {{ driver_event.laptimes }} </li>
            {% endfor %}
        </ul>
    </p>


{% endblock %}