{% extends "base.html" %}

{% block content %}

    <h2>{{ event.event_name }}</h2>
    <h5>{{ event.event_date.strftime('%A') }}. {{ event.event_date.strftime('%B') }} {{ event.event_date.strftime('%d')}}, {{ event.event_date.strftime('%Y') }}</h5>
    
    <br>

    <!-- TODO: Test bootstrap-table in its own env -->
    <!-- https://bootstrap-table.com/versions/1.15.5/docs/getting-started/introduction/ -->


    <table class="my-event-bootstrap-table">

        <thead>
            <tr>
                <th data-field="my-driver" data-sortable="true">Driver</th>
                <th data-field="my-car" data-sortable="true">Car</th>
                <th data-sortable="true">Car Class</th>
                <th data-sortable="true">Laptimes</th>
            </tr>
        </thead>
        <tbody>
            {% for driver_event in event.driver_events %}
            <tr>
                <td><a href="{{ url_for('driver', driver_id=driver_event.driver.id, slug=driver_event.driver.get_slug()) }}">{{ driver_event.driver.driver_name }}</a></td>
                <td>{{ driver_event.car.car_name }}</td>
                <td>{{ driver_event.car.car_class }}</td>
                <td>{{ driver_event.laptimes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}