{% extends "base.html" %}

{% block content %}

    <h2>Event: {{ event.event_name }}</h2>
    <h4>Event Date: {{ event.event_date.strftime('%a') }}. {{ event.event_date.strftime('%B') }} {{ event.event_date.strftime('%d')}}, {{ event.event_date.strftime('%Y') }}</h4>

    <p>
        <h4>Drivers:</h4>
        <ul>
            {% for driver_event in event.driver_events %}
            <li><a href="{{ url_for('driver', driver_id=driver_event.driver.id, slug=driver_event.driver.get_slug()) }}">{{ driver_event.driver.driver_name }}</a> - {{ driver_event.car}} - {{ driver_event.car_class}}- {{ driver_event.laptimes }} </li>
            {% endfor %}
        </ul>
    </p>


{% endblock %}