<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  

    <a class="navbar-brand" href="{{ url_for('my_home') }}">
      <i class="fa-solid fa-house"></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link {% if request.endpoint == 'my_home' %}active{% endif %}" aria-current="{% if request.endpoint == 'my_home' %}page{% endif %}" href="{{ url_for('my_home') }}">Home</a>
        <a class="nav-link {% if request.endpoint == 'my_about' %}active{% endif %}" aria-current="{% if request.endpoint == 'my_about' %}page{% endif %}" href="{{ url_for('my_about') }}">About</a>
        <a class="nav-link {% if request.endpoint == 'my_style_guide' %}active{% endif %}" aria-current="{% if request.endpoint == 'my_style_guide' %}page{% endif %}" href="{{ url_for('my_style_guide') }}">Style Guide</a>


        <!-- TODO: menu dynamically displays only latest year/season -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if request.endpoint == 'event' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        2024 Season
        </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for event in events %}
                    <li><a class="dropdown-item {% if request.endpoint == 'event' and event.id == request.view_args['event_id'] %}active{% endif %}" href="{{ url_for('event', year=event.event_date.strftime('%Y'), event_id=event.id) }}">{{ event.event_date.strftime('%b') }}. {{ event.event_date.strftime('%d') }} Event</a></li>
                {% endfor %}     
            </ul>
        </li>
        
      </div>


        <ul class="navbar-nav ms-auto"> 
            <li class="nav-item d-flex justify-content-center align-items-center">
                <input type="checkbox" class="daynight-checkbox" id="daynight-checkbox">
                <label for="daynight-checkbox" class="daynight-checkbox-label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="daynight-ball"></span>
                </label>
            </li>
        </ul>


    </div>
  </div>
</nav>